/**
 * @Description: 个人介绍页样式
 * @Author: shenxf
 * @Date: 2019-02-28 20:34:31
 */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Heiti SC","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

div {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 600px) {
    #fp-nav {
        display: none;
    }
}

.arrow {
    position: absolute;
    bottom: 20px;
    width: 20px;
    height: 35px;
    left: 50%;
    z-index: 100;
    background: url(../images/arrow.svg) bottom center no-repeat;
    background-size: contain;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: arrowAnimate 1.5s ease-in-out infinite;
    animation: arrowAnimate 1.5s ease-in-out infinite;
}

@keyframes arrowAnimate {
    0% {
        bottom: 10px;
        opacity: .8;
    }
    50% {
        bottom: 20px;
        opacity: 1;
    }
    80% {
        bottom: 22px;
        opacity: .4;
    }
    100% {
        bottom: 22px;
        opacity: 0;
    }
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a, a:hover, a:link {
    color: #000;
}
a {
    text-decoration: none;
}

 /* 头部公共样式 */
.header {
    top: 0;
    height: 60px;
    z-index: 200;
}

.footer, .header {
    right: 0;
    left: 0;
    position: absolute;
}

.header .header-head {
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .header .header-head .header-c {
        top: 50px;
    }    
}

.header .header-head .header-c {
    padding: 0 3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .header-head .logo {
    float: left;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .header-head .logo-c {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/header.jpeg) center center no-repeat;
    background-size: contain;
    border-radius: 50%;
    /* 旋转动画 */
    animation: myheader 2s linear infinite;
}

@keyframes myheader {
    to {
        transform: rotate(360deg);
    }
}
/* 媒体查询 1366 */
@media screen and (max-width: 1366px) {
    .content {
        top: 120px;
    }
}

/* 媒体查询 600 */
@media screen and (max-width: 600px) {
    .content {
        top: 80px;
    }
}

.header .header-c .header-title {
    display: none;
    position: relative;
    color: #FFF;
}

.header .header-c .header-title:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FFF;
    -webkit-transition: .5s;
    transition: .5s;
}

@media screen and (max-width: 600px) {
    .header .header-head .header-c .header-title {
        display: block;
    }
}

.header .header-nav {
    height: 50px;
    position: absolute;
    top: 60px;
    width: 100%;
    font-size: 13px;
    background-color: rgba(255,255,255,.4);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

@media screen and (max-width: 600px) {
    .header .header-nav {
        height: 30px;
        top: 50px;
    }
}

.header .header-nav .list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
}

@media screen and (max-width: 600px) {
    .header .header-nav .list {
        height: 30px;
    }    
}

.header .header-c .language {
    float: right;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .language .language-c {
    border-radius: 25px;
    background-color: rgba(0,0,0,.1);
    position: relative;
}

.header .language .language-c:after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,.75);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    border-radius: 50%;
    z-index: -1;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
}

.header .language-c span {
    color: rgba(0,0,0,.3);
    width: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

.header .language-c .selected {
    color: #FFF;
}

/* 第一屏式样 */
.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url("/resume/images/header.jpeg") center center no-repeat;
    background-size: contain;
    margin: 0 auto;
    /* transition: box-shadow .5s linear;
    -webkit-transition: box-shadow .5s linear; */
}

.des .quote {
    font-size: 22px;
    position: relative;
    padding: 20px 0;
}

@media screen and (max-width: 600px) {
    .des .quote {
        font-size: 16px;
    }
}

.default .des {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    color: #FFF;
}

.default .des .quote:after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    height: 1px;
    background-color: rgba(255,255,255,.6);
}

.default .des .des-list {
    padding-top: 20px;
    line-height: 20px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .default .des .des-list {
        padding: 0;
        line-height: 16px;
        font-size: 14px;
    }
}

.default .des-list p {
    margin: 24px 0;
}

@media screen and (max-width: 600px) {
    .default .des-list p {
        margin: 20px 0;
    }
}

/* 第二屏式样 */
.contact, .default, .experience, .info, .skill, .work {
    height: 100%;
}

.title {
    position: absolute;
    top: 150px;
    left: 20%;
    right: 20%;
    text-align: center;
    font-size: 24px;
    color: #FFF;
}

@media screen and (max-width: 1366px) {
    .title {
        top: 70px;
    }
}

@media screen and (max-width: 600px) {
    .title {
        display: none;
    }
}

.info .info-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 18px;
}

.info .info-list .info-item {
    width: 100px;
    margin: 0 20px;
}

.info .cont .img {
    width: 90px;
    height: 90px;
    cursor: pointer;
    -webkit-transition: background .2s,-webkit-transform ease-out .1s;
    transition: background .2s,-webkit-transform ease-out .1s;
    transition: transform ease-out .1s,background .2s;
    transition: transform ease-out .1s,background .2s,-webkit-transform ease-out .1s;
    background: rgba(255,255,255,.1);
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}

.info .cont img {
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
}

.info .cont .img:after {
    content: '';
    position: absolute;
    box-shadow: 0 0 0 2px rgba(255,255,255,.1);
    opacity: 0;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info .cont .img:hover {
    background: rgba(255,255,255,.05);
    -webkit-transform: scale(.93);
    transform: scale(.93);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .info .cont .img {
        width: 50px;
        height: 50px;
    }
}

.info .cont .intro {
    text-align: center;
    margin-top: 20px;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    .info .info-item .intro {
        margin: 20px 0;
        font-size: 12px;
    }
}


.info .info-des {
    text-align: center;
    line-height: 24px;
    padding-top: 50px;
    font-size: 18px;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    .info .content .info-des {
        padding-top: 15px;
        line-height: 16px;
        font-size: 14px;
    }
}

/* 第三屏 */
@media screen and (max-width: 1366px) {
    .skill .content {
        top: 200px;
    }
}

@media screen and (max-width: 600px) {
    .skill .content {
        top: 80px;
    }
}

.skill .contain {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    min-width: 750px;
}

@media screen and (max-width: 600px) {
    .skill .content .contain {
        min-width: 0;
        width: 90%;
    }
}

.skill .contain .skill-circle {
    padding: 5px;
    position: relative;
    font-size: 12px;
    width: 300px;
    color: #FFF;
}

.skill .skill-circle .outCircle {
    width: 242px;
    height: 242px;
    border: 4px dashed #999;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
.skill .outCircle .out {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 50px;
    -webkit-backface-visibility: hidden;
}

.skill .outCircle .out:nth-child(1) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
}

.skill .outCircle .out:nth-child(2) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -2s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -2s infinite alternate;
}

.skill .outCircle .out:nth-child(3) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
}

.skill .outCircle .out:nth-child(4) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -6s infinite alternate;
}

.skill .outCircle .out:nth-child(5) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
}

.skill .outCircle .out:nth-child(6) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -10s infinite alternate;
}

.skill .outCircle .out:nth-child(7) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
}

.skill .outCircle .out:nth-child(8) {
    -webkit-animation: outX 8s cubic-bezier(.36,0,.64,1) -18s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate;
    animation: outX 8s cubic-bezier(.36,0,.64,1) -18s infinite alternate,outY 8s cubic-bezier(.36,0,.64,1) -14s infinite alternate;
}

.-skill .-contain .-skill-circle .-innerCircle {
    width: 142px;
    height: 142px;
    border: 4px dashed #999;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.skill .innerCircle .inner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 40px;
    -webkit-backface-visibility: hidden;
}

.skill .skill-circle .innerCircle {
    width: 142px;
    height: 142px;
    border: 4px dashed #999;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.skill .innerCircle .inner:nth-child(1) {
    -webkit-animation: innerX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
    animation: innerX 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) 0s infinite alternate;
}

.skill .innerCircle .inner:nth-child(2) {
    -webkit-animation: innerX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
    animation: innerX 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -4s infinite alternate;
}

.skill .innerCircle .inner:nth-child(3) {
    -webkit-animation: innerX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
    animation: innerX 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -8s infinite alternate;
}

.skill .innerCircle .inner:nth-child(4) {
    -webkit-animation: innerX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
    animation: innerX 8s cubic-bezier(.36,0,.64,1) -16s infinite alternate,innerY 8s cubic-bezier(.36,0,.64,1) -12s infinite alternate;
}

@media screen and (max-width: 600px) {
    .skill .contain .skill-circle {
        margin: 0 auto;
    }
    
}

@keyframes outX {
    0% {
        left: -27px;
    }
    100% {
        left: 217px;
    }
}

@keyframes outY {
    0% {
        top: -27px;
    }
    100% {
        top: 217px;
    }
}

@keyframes innerX {
    0% {
        left: -22px;
    }
    100% {
        left: 122px;
    }
}

@keyframes innerY {
    0% {
        top: 122px;
    }
    100% {
        top: -22px;
    }
}


.skill .contain .des {
    text-align: center;
    color: #FFF;
    line-height: 24px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .skill .contain .des {
        padding-top: 10px;
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto;
    }
}


/* 第四屏 */
@media screen and (max-width: 1366px) {
    .experience .content {
        top: 150px;
    }
}

@media screen and (max-width: 600px) {
    .experience .content {
        top: 80px;
    }
}

.experience .content {
    -webkit-perspective: 3000px;
    perspective: 3000px;
}

.experience .content .banner {
    width: 750px;
    height: 350px;
    background: #F2F4F5;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 10px;
    color: #000;
    -webkit-transition: -webkit-transform .3s linear;
    transition: -webkit-transform .3s linear;
    transition: transform .3s linear;
    transition: transform .3s linear,-webkit-transform .3s linear;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,.5);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media screen and (max-width: 600px) {
    .experience .content .banner {
        width: 90%;
        height: 80%;
    }
}

.experience .banner .experience-content {
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    height: 100%;
}

.experience .experience-content .left {
    float: left;
    height: 100%;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.experience .left .img {
    background: center center no-repeat;
    background-size: 55%;
    width: 150px;
    height: 100%;
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}

.experience .experience-content .left:after {
    content: "";
    background: #eee;
    width: 1px;
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 0;
}

.experience .experience-content .right {
    padding-left: 50px;
    float: left;
    height: 100%;
    width: 550px;
}

@media screen and (max-width: 600px) {
    .experience .experience-content .right {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        float: none;
    }
}

.experience .right h4 {
    color: #945C4C;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .experience .right h4 {
        font-size: 16px;
        margin: 10px 0;
    }
}

.experience .right .time {
    color: #AF7464;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .experience .right .time {
        font-size: 12px;
    }
}

.experience .right .post {
    color: #9E6351;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .experience .right .post {
        font-size: 14px;
    }
}

.experience .right .tech {
    color: #9E6351;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .experience .right .tech {
        font-size: 13px;
    }
}

.experience .list .item {
    line-height: 30px;
    font-size: 16px;
    position: relative;
}

@media screen and (max-width: 600px) {
    .experience .list .item {
        font-size: 12px;
        line-height: 16px;
        margin: 12px 0;
    }
}

.experience .list .item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 5px;
    height: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #AF7464;
}

.experience .content .shout-cut {
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
}

@media screen and (max-width: 1366px) {
    .experience .content .shout-cut {
        padding-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .experience .content .shout-cut {
        padding-top: 35px;
    }
}

.experience .shout-cut .cut-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 101;
}

.experience .cut-list .item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #623C32;
    cursor: pointer;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
    position: relative;
}

.experience .cut-list .selected {
    background-color: #AF7164;
}

.experience .content .exp-des {
    margin-top: 50px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 1366px) {
    .experience .content .exp-des {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .experience .experience-content .left, .experience .content .exp-des {
        display: none;
    }
}

/* 第五屏 */
.work .content {
    color: #FFF;
}

@media screen and (max-width: 1366px) {
    .work .content {
        top: 150px;
    }
}

@media screen and (max-width: 600px) {
    .work .content {
        top: 80px;
        -webkit-perspective: 2000px;
        perspective: 2000px;
    }
}

.work .content .work-list {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    color: #000;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: justify;
}

@media screen and (max-width: 1366px) {
    .work .content .work-list {
        max-width: 1200px;
    }
}

@media screen and (max-width: 600px) {
    .work .content .work-list {
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        width: 280px;
        height: 75%;
        overflow: visible;
        padding: 0;
        -webkit-transition: -webkit-transform 2s;
        transition: -webkit-transform 2s;
        transition: transform 2s;
        transition: transform 2s,-webkit-transform 2s;
    }
}

.work .work-list .work-item {
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    border-radius: 6px;
    padding: 20px;
    background: #fff;
    width: 47%;
    box-sizing: border-box;
    margin-bottom: 50px;
    -webkit-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
}


@media screen and (max-width: 1366px) {
    .work .work-list .work-item {
        padding: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .work .work-list .work-item:nth-child(1) {
        -webkit-transform: translateZ(140px);
        transform: translateZ(140px);
    }
}

@media screen and (max-width: 600px) {
    .work .work-list .work-item {
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(255,255,255,.95);
        border-radius: 0;
        text-align: justify;
    }
}

.work .work-item .work-title {
    color: #4985A0;
    margin: 5px 0;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .work .work-item .work-title {
        text-align: center;
        font-size: 16px;
    }
}

.work .work-item .work-des {
    font-size: 16px;
    line-height: 22px;
}

.work .work-item .work-link {
    width: 200px;
    height: 30px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    cursor: pointer;
    opacity: .6;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.work .work-link img {
    height: 60%;
}

.work .content .work-more {
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .work .content .work-more {
        margin-top: 15%;
        font-size: 16px;
    }
}

.work .work-more a {
    text-decoration: none;
    color: #FFF;
}

.work .content .work-switch {
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;
    height: 30px;
    z-index: 1;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .work .content .work-switch {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.work .work-switch .left, .work .work-switch .right {
    border-radius: 50%;
    border: 1px solid #FFF;
    height: 30px;
    width: 30px;
    position: relative;
    background: url(../images/arrow.svg) center 35% no-repeat;
    background-size: 70%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.work .work-switch .left {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* 第六屏 */
.contact {
    color: #FFF;
}

.contact .content {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1366px) {
    .contact .content {
        top: 150px;
    }
}

@media screen and (max-width: 600px) {
    .contact .content {
        top: 80px;
        max-width: 250px;
    }
}

.contact .content .contact-des1 {
    font-size: 22px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .contact .content .contact-des1 {
        font-size: 18px;
    }
}

.contact .contact-des1 span:nth-child(1) {
    color: red;
}

.contact .contact-des1 span:nth-child(2) {
    color: #3cf;
}

.contact .contact-des1 span:nth-child(3) {
    color: #6c0;
}

.contact .contact-des1 span:nth-child(4) {
    color: #f63;
}

.contact .content .contact-des2 {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .contact .content .contact-des2 {
        font-size: 15px;
    }
}

.contact .content .contact-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 100px auto 0;
}

.contact .contact-type .item {
    border-radius: 50%;
    border: 1px solid #FFF;
    width: 40px;
    height: 40px;
    position: relative;
}

.contact .contact-type .item img {
    width: 65%;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
}