/**
 * @Description: 文章详细页
 * @Author: shenxf
 * @Date: 2019-03-29 20:08:54
 */
/* 文章详细页 */
.article-detail {
    color: #222;
    margin-bottom: 15px;
    padding: 15px 35px;
    font-size: 14px;
    box-shadow: 0 0 6px #666;
    background-color: #fafafa;
}

/* 详细页标题 */
.blog-title {
    padding: 7px 0;
    font-size: 20px;
    font-weight: 700;
}

/* 更新日时 */
.blog-top {
    color: #aaa;
    margin-top: -2px;
    margin-bottom: 11px;
}

.blog-top>.spliter {
    height: 13px;
    margin: 0 8px;
    display: inline-block;
    vertical-align: -2px;
    border-left: 1px solid #ccc;
}

.anticon-tag:before {
    content: "\E6D2";
}

/* markdown */
.markdown-wrap pre {
    color: #eee;
    padding: 6px 12px;
    overflow: auto;
    border-radius: 2px;
    background-color: #111;
}

.markdown-wrap {
    margin-top: 15px;
    padding-top: 7px;
    border-top: 1px solid #eee;
}

.markdown-content {
    width: 100%;
    padding: 6px 8px;
    outline: none;
    border-radius: 3px;
    transition: all 400ms;
}

.markdown-content:focus {
    border-color: #49a9ee;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
}

.markdown-preview {
    color: #111;
    font-size: 15px;
    font-family: Consolas, "Microsoft YaHei", Menlo, Courier, monospace;
}

.markdown-preview p,
.markdown-preview ol,
.markdown-preview ul,
.markdown-preview table,
.markdown-preview pre {
    margin-bottom: 8px;
}

.markdown-preview p+ul {
    margin-top: -7px;
}

.markdown-preview code {
    margin: 0;
    padding: 0.168em 0.4em;
    border-radius: 3px;
    background-color: rgba(27, 31, 35, 0.1);
}

.markdown-preview pre {
    font-size: 14px;
    color: #eee;
    padding: 6px 12px;
    overflow: auto;
    border-radius: 2px;
    background-color: #111;
}

.markdown-preview pre>code {
    padding: 0;
    background-color: inherit;
}

.markdown-preview blockquote {
    color: #505050;
    padding: 13px 10px;
    margin-top: 3px;
    margin-bottom: 13px;
    background-color: #f1f1f1;
    border-left: 0.25em solid #ccc;
}

.markdown-preview blockquote p {
    margin-bottom: 0;
}

.markdown-preview h1,
.markdown-preview h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eaecef;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #24292e;
    line-height: initial;
}

.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
    margin-top: 10px;
    margin-bottom: 6px;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
    font-weight: 600;
}

.markdown-preview h1 {
    font-size: 26px;
}

.markdown-preview h2 {
    font-size: 22px;
}

.markdown-preview h3 {
    font-size: 19px;
}

.markdown-preview h4 {
    font-size: 17px;
}

.markdown-preview h5 {
    font-size: 15px;
}

.markdown-preview h6 {
    font-size: 13px;
}

.markdown-preview ol {
    list-style: decimal;
}

.markdown-preview ul {
    list-style: circle;
}

.markdown-preview ol,
.markdown-preview ul {
    padding-left: 20px;
}

.markdown-preview ol ul,
.markdown-preview ul ul {
    list-style: disc;
}

.markdown-preview ol ul ul,
.markdown-preview ol ul ol,
.markdown-preview ul ul ul,
.markdown-preview ul ul ol {
    list-style: square;
}

.markdown-preview ol ol,
.markdown-preview ul ol {
    list-style: lower-alpha;
}

.markdown-preview ol ol ul,
.markdown-preview ol ol ol,
.markdown-preview ul ol ul,
.markdown-preview ul ol ol {
    list-style: square;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #828073;
}