/* 轮播图 */
.home-banner {
    margin-bottom: 15px;
}

.banner-list {
    position: relative;
    padding-right: 10px;
}

.banner-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease-in;
}

.banner-item>img {
    width: 100%;
    height: auto;
}

.banner-preview {
    padding: 0 7px 0 4px;
}

.banner-preview-item>img {
    width: 100%;
    height: auto;
}

.banner-preview-arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 24.2%;
    padding: 0 3px;
    transition: top .6s ease-in-out;
}

.banner-preview-arraw-inner {
    position: relative;
    height: 100%;
    border: 1px solid #e0e0e0;
}

.banner-preview-arraw-inner:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 100%;
    top: 50%;
    border: 5px solid #e3e3e3;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/* 每日一语 */
.day-word {
    position: relative;
    padding: 10px 16px 8px;
}

.day-word>img {
    width: 100%;
    height: auto;
}

.banner-wrap,
.day-word {
    box-shadow: 0 0 5px #555;
}

.day-word>p {
    position: absolute;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
    text-shadow: 5px -5px #111, 4px -4px #fff;
    background: #eee url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    -webkit-background-clip: text;
}