/**
 * @Description: 
 * @Author: shenxf
 * @Date: 2019-04-02 19:54:21
 */

.timeline-wrap {
    padding: 15px 35px;
    box-shadow: 0 0 8px #666;
    background-color: #fff;
}

/* 下拉菜单 */
.timeline-select {
    padding: 10px 0 20px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ddd;
}

.dropdown-mul-1 {
    width: 200px;
    height: 100px;
}

/* 时间线 */
.timeline-body {
    margin: 20px 5px 5px;
}

.ant-timeline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ant-timeline-item {
    position: relative;
    padding: 0 0 12px;
    list-style: none;
    margin: 0;
}

.ant-timeline-item-tail {
    position: absolute;
    left: 5px;
    top: 0;
    height: 100%;
    border-left: 2px solid #e9e9e9;
}

.ant-timeline-item-head {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 100px;
    border: 2px solid transparent;
}

.ant-timeline-item-head-custom {
    position: absolute;
    text-align: center;
    width: 40px;
    left: -14px;
    line-height: 1;
    margin-top: 6px;
    border: 0;
    height: auto;
    border-radius: 0;
    padding: 3px 0;
    font-size: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ant-timeline-item-head-blue {
    border-color: #108ee9;
    color: #108ee9;
}

.anticon-clock-circle-o:before {
    content: "\E641";
}

.anticon:before {
    display: block;
    font-family: anticon !important;
}

.ant-timeline-item-content {
    padding: 0 0 10px 24px;
    font-size: 12px;
    position: relative;
    top: -3px;
}

.timeline-time {
    position: relative;
    top: -4px;
    margin-top: 10px;
    color: #3197ef;
    font-weight: 700;
    font-size: 17px;
}

.ant-timeline-item-head-red {
    border-color: #f04134;
    color: #f04134;
}

.ant-timeline-item-head-green {
    border-color: #00a854;
    color: #00a854;
}

.ant-timeline-item-last .ant-timeline-item-tail {
    border-left: 2px dotted #e9e9e9;
    display: none;
}

.ant-timeline-item-last .ant-timeline-item-content {
    min-height: 48px;
}

/* 翻页 */
.page {
    text-align: right;
}