html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html body {
    font-family: Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    background-color: #fff;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(0,0,0,.85);
    font-weight: 500;
}

::selection {
    background: #108ee9;
    color: #fff;
}

ol, ul {
    list-style: none;
}

a {
    color: #108ee9;
    background: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s ease;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

.fl {
    float: left;
}

.clearfix {
    zoom: 1;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix:after {
    visibility: hidden;
    font-size: 0;
    height: 0;
}

/* ant control */
.ant-input-affix-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.ant-input-affix-wrapper .ant-input:not(:last-child) {
    padding-right: 24px;
}
.ant-input-affix-wrapper .ant-input {
    min-height: 100%;
}
.ant-input-affix-wrapper .ant-input {
    z-index: 1;
}
.nav-top-search input {
    max-width: 300px;
    border-radius: 1px;
}
input[type=text], textarea {
    -webkit-appearance: none;
}
.ant-input-lg {
    padding: 6px 7px;
    height: 32px;
}
.ant-input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
}

.ant-input-affix-wrapper .ant-input-suffix {
    right: 7px;
}

.ant-input-search-icon {
    cursor: pointer;
    transition: all .3s;
    font-size: 14px;
}

.ant-input-affix-wrapper .ant-input-suffix {
    right: 7px;
}
.ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    line-height: 0;
    color: rgba(0,0,0,.65);
}

.ant-breadcrumb {
    color: rgba(0,0,0,.65);
    font-size: 12px;
}

.ant-breadcrumb>span:last-child {
    font-weight: 500;
    color: rgba(0,0,0,.65);
}

.ant-breadcrumb>span:last-child .ant-breadcrumb-separator {
    display: none;
}