/* 列表 */
.list-head-carousel-wrap {
    height: 36px;
    margin-bottom: 15px;
    font-size: 13px;
    background-color: #fafafa;
    box-shadow: 0 0 6px #aaa;
}

.list-head-carousel {
    position: relative;
    display: inline-block;
    height: 36px;
    width: 500px;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-head-carousel>p {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 36px;
    padding: 0;
    line-height: 36px;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.list-head-carousel-title {
    display: inline-block;
    height: 36px;
    margin: 0 15px 0 25px;
    line-height: 36px;
    vertical-align: top;
}

/* 列表明细 */
.article-item {
    margin-bottom: 18px;
    padding: 18px 25px 15px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    transition: box-shadow .3s ease-in;
}

.article-item:hover {
    box-shadow: 0 0 15px #333;
}

.article-body {
    h4 {
        font-size: 17px;
    }

    >p {
        margin: 8px 0;
        color: #999;
        font-size: 13px;
    }
}

.article-abstract {
    color: #333;
    font-size: 14px;
}

.article-link {
    display: inline-block;
    margin-top: 9px;
    font-size: 12px;

    >a {
        color: #3197ef;
        font-weight: 700;
    }
}

/* 查看全部文章 */
.block-link {
    background-color: #fff;
    box-shadow: 0 0 5px #a8a8a8;
    transition: box-shadow .3s ease-in;

    >a {
        display: inline-block;
        width: 100%;
        padding: 8px;
        font-size: 12px;
        text-align: center;
        transition: font-weight .3s ease-in;

        &:hover {
            font-weight: 700;
        }
    }
}