<!--
 * @Description: 个人介绍页面
 * @Author: shenxf
 * @Date: 2019-02-28 20:29:08
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小沈的个人介绍</title>
    <meta name="keywords" content="小沈,个人介绍,前端,技术合作,峰峰" />
    <meta name="description" content="展示自己的个人网站" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="css/jquery.fullpage.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-head">
            <div class="header-c">
                <div class="logo">
                    <a href="https://github.com/shen1986" class="logo-c"></a>
                </div>
                <div class="header-title">首页</div>
                <div class="language">
                    <div class="language-c">
                        <span data-index="0" class="selected">中</span>
                        <span data-index="1" >英</span>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <ul class="list" selected-nav-item="">
                    <li class="item cur-index">
                        <em data-index="0">首页</em>
                    </li>
                    <li class="item">
                        <em data-index="1">关于我</em>
                    </li>
                    <li class="item">
                        <em data-index="2">技能栈</em>
                    </li>
                    <li class="item">
                        <em data-index="3">经历</em>
                    </li>
                    <li class="item">
                        <em data-index="4">作品集</em>
                    </li>
                    <li class="item">
                        <em data-index="5">联系我</em>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--整体容器-->
    <!--1.指示器 点容器-->
    <div class="container">
        <div class="section screen01">
            <div class="default">
                <div class="content">
                    <div class="photo"></div>
                    <div class="des">
                        <p class="quote"></p>
                        <div class="des-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section screen02">
            <div class="info">
                <div class="title">关于我</div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="section screen03 skill">
            <div class="title">技能栈</div>
            <div class="content">
                <div class="contain">
                </div>
            </div>
        </div>
        <div class="section screen04">
            <div class="experience">
                <div class="title">经历</div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="section screen05">
            <div class="work">
                <div class="title">作品集</div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="section screen06">
            <div class="contact">
                <div class="title">联系我</div>
                <div class="content">
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>All Rights Reserved</p>
        <p>蜀ICP备xxxxxx号 Copyright © 2019</p>
    </div>
    <div class="arrow" style="display: block;"></div>

    <!-- #################下面是模版引擎################### -->
    <!-- 首页介绍 -->
    <script type="text/template" id="deslist">
        <% for( var i = 0 ; i < desList.length ; i++ ){ %>
        <p><%=desList[i]%></p>
        <% } %>
    </script>
    <!-- 关于我 -->
    <script type="text/template" id="info">
        <div>
            <ul class="info-list">
                <% for( var i = 0 ; i < infoList.length ; i++ ){ %>
                <li class="info-item">
                    <div class="cont">
                        <div class="img">
                            <img alt="" src="images/i_age.svg">
                        </div>
                        <div class="intro">
                            <span><%=infoList[i].key%></span>/<span><%=infoList[i].value%></span>
                        </div>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="info-des" >
            <% for( var i = 0 ; i < infoDes.length ; i++ ){ %>
            <p><%=infoDes[i]%></p>
            <% } %>
        </div>
    </script>
    <!-- 技能栈 -->
    <script type="text/template" id="skill">
        <div class="skill-circle">
            <ul class="outCircle">
                <% for( var i = 0 ; i < outCircle.length ; i++ ){ %>
                <li class="out" style="<%=outCircle[i].bg%>"><%=outCircle[i].name%></li> 
                <% } %>
            </ul>
            <ul class="innerCircle">
                <% for( var i = 0 ; i < innerCircle.length ; i++ ){ %>
                <li class="inner" style="<%=innerCircle[i].bg%>"><%=innerCircle[i].name%></li>
                <% } %>
            </ul>
        </div>
        <div class="des">
            <% for( var i = 0 ; i < des.length ; i++ ){ %>
            <p><%=des[i]%></p>
            <% } %>
        </div>
    </script>
    <!-- 经历 -->
    <script type="text/template" id="experience">
        <div class="banner">
            <div class="experience-content">
                <div class="left">
                    <div class="img" style="background-image: url(<%=experienceList[0].contentLeft%>)"></div>
                </div>
                <div class="right">
                    <h4><%=experienceList[0].contentRight.title%></h4>
                    <p class="time"><%=experienceList[0].contentRight.time%></p>
                    <p class="post">&lt;<span><%=experienceList[0].contentRight.post%></span>&gt;</p>
                    <p class="tech">"<span><%=experienceList[0].contentRight.tech%></span>"</p>
                    <ul class="list">
                        <% for( var i = 0 ; i < experienceList[0].contentRight.list.length ; i++ ){ %>
                        <li class="item"><%=experienceList[0].contentRight.list[i]%></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shout-cut">
            <ul class="cut-list" switch-exp="">
                <% for( var i = 0 ; i < experienceList.length ; i++ ){ %>
                    <li class="item <%=i==0?'selected':''%>" data-index="<%=i%>"></li>
                <% } %>
            </ul>
        </div>
        <div class="exp-des"><%=expDes%></div>
    </script>
    <!-- 经历详细 -->
    <script type="text/template" id="experienceContent">
        <div class="left">
            <div class="img" style="background-image: url(<%=contentLeft%>)"></div>
        </div>
        <div class="right">
            <h4><%=contentRight.title%></h4>
            <p class="time"><%=contentRight.time%></p>
            <p class="post">&lt;<span><%=contentRight.post%></span>&gt;</p>
            <p class="tech">"<span><%=contentRight.tech%></span>"</p>
            <ul class="list">
                <% for( var i = 0 ; i < contentRight.list.length ; i++ ){ %>
                <li class="item"><%=contentRight.list[i]%></li>
                <% } %>
            </ul>
        </div>
    </script>
    <!-- 作品集 -->
    <script type="text/template" id="work">
        <ul class="work-list">
            <% for( var i = 0 ; i < workList.length ; i++ ){ %>
            <li class="work-item">
                <h4 class="work-title"><%=workList[i].workTitle%></h4>
                <p class="work-des"><%=workList[i].workDes%></p>
                <a class="work-link" href="<%=workList[i].workLink%>"><img src="images/w_link.svg" alt=""></a>
            </li>
            <% } %>
        </ul>
        <div class="work-more">
            <a href="<%=workMoreGit%>" target="_blank">github上面查看更多</a>
        </div>
        <div class="work-switch" switch-work="">
            <i class="left"></i>
            <i class="right"></i>
        </div>
    </script>
    <!-- 联系我 -->
    <script type="text/template" id="contact">
        <div class="contact-des1">
            <% for( var i = 0 ; i < contactDes1.length ; i++ ){ %>
            <span><%=contactDes1[i]%></span>
            <% } %>
        </div>
        <div class="contact-des2">
            <% for( var i = 0 ; i < contactDes2.length ; i++ ){ %>
            <p><%=contactDes2[i]%></p>
            <% } %>
        </div>
        <div class="contact-type">
            <% for( var i = 0 ; i < contactType.length ; i++ ){ %>
            <a class="item" target="_blank" href="<%=contactType[i].link%>">
                <img alt="" src="<%=contactType[i].img%>">
            </a>
            <% } %>
        </div>
    </script>
    <!-- 页脚 -->
    <script type="text/template" id="footer">
        <% for( var i = 0 ; i < footerList.length ; i++ ){ %>
        <p><%=footerList[i]%></p>
        <% } %>
    </script>
    <!-- js导入 -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.fullpage.js"></script>
    <!-- art-template -->
    <script src="js/template-native.js"></script>
    <script src="js/index.js"></script>
</body>
</html>